In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [4]:
df = pd.read_csv('movies_metadata.csv')

In [5]:
df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [7]:
df.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [11]:
df.shape

(45466, 24)

In [12]:
df.isnull().sum()

adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

In [14]:
df = df.drop_duplicates().reset_index(drop = True)

In [15]:
df.duplicated().sum()

np.int64(0)

In [17]:
df = df[['title', 'overview', 'genres', 'tagline', 'vote_average', 'popularity']]

In [18]:
df

,title,overview,genres,tagline,vote_average,popularity
0,Toy Story,"Led by Woody, Andy's toys live happily in his ...","[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",NaN,7.7,21.946943
1,Jumanji,When siblings Judy and Peter discover an encha...,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",Roll the dice and unleash the excitement!,6.9,17.015539
2,Grumpier Old Men,A family wedding reignites the ancient feud be...,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",Still Yelling. Still Fighting. Still Ready for...,6.5,11.7129
3,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...","[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",Friends are the people who let you be yourself...,6.1,3.859495
4,Father of the Bride Part II,Just when George Banks has recovered from his ...,"[{'id': 35, 'name': 'Comedy'}]",Just When His World Is Back To Normal... He's ...,5.7,8.387519
...,...,...,...,...,...,...
45448,Subdue,Rising and falling between a man and woman.,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",Rising and falling between a man and woman,4.0,0.072051
45449,Century of Birthing,An artist struggles to finish his work while a...,"[{'id': 18, 'name': 'Drama'}]",NaN,9.0,0.178241
45450,Betrayal,"When one of her hits goes wrong, a professiona...","[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",A deadly game of wits.,3.8,0.903007
45451,Satan Triumphant,"In a small town live two brothers, one a minis...",[],NaN,0.0,0.003503
45452,Queerama,50 years after decriminalisation of homosexual...,[],NaN,0.0,0.163015

In [19]:
df = df.dropna(subset = ['title'])

In [24]:
import ast

In [25]:
df['overview'] = df['overview'].fillna('')

In [23]:
df.iloc[0]['genres']

"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"

In [26]:
df['genres'] = df['genres'].apply(lambda x: " ".join(i['name'] for i in ast.literal_eval(x)))

In [27]:
df.head()

,title,overview,genres,tagline,vote_average,popularity
0,Toy Story,"Led by Woody, Andy's toys live happily in his ...",Animation Comedy Family,NaN,7.7,21.946943
1,Jumanji,When siblings Judy and Peter discover an encha...,Adventure Fantasy Family,Roll the dice and unleash the excitement!,6.9,17.015539
2,Grumpier Old Men,A family wedding reignites the ancient feud be...,Romance Comedy,Still Yelling. Still Fighting. Still Ready for...,6.5,11.7129
3,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",Comedy Drama Romance,Friends are the people who let you be yourself...,6.1,3.859495
4,Father of the Bride Part II,Just when George Banks has recovered from his ...,Comedy,Just When His World Is Back To Normal... He's ...,5.7,8.387519

In [28]:
df['tagline'] = df['tagline'].fillna('')

In [29]:
df.isnull().sum()

title           0
overview        0
genres          0
tagline         0
vote_average    0
popularity      0
dtype: int64

In [31]:
df['tags'] = df['overview'] + " " + df['genres'] + " " + df['tagline']

In [32]:
df.head()

,title,overview,genres,tagline,vote_average,popularity,tags
0,Toy Story,"Led by Woody, Andy's toys live happily in his ...",Animation Comedy Family,,7.7,21.946943,"Led by Woody, Andy's toys live happily in his ..."
1,Jumanji,When siblings Judy and Peter discover an encha...,Adventure Fantasy Family,Roll the dice and unleash the excitement!,6.9,17.015539,When siblings Judy and Peter discover an encha...
2,Grumpier Old Men,A family wedding reignites the ancient feud be...,Romance Comedy,Still Yelling. Still Fighting. Still Ready for...,6.5,11.7129,A family wedding reignites the ancient feud be...
3,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",Comedy Drama Romance,Friends are the people who let you be yourself...,6.1,3.859495,"Cheated on, mistreated and stepped on, the wom..."
4,Father of the Bride Part II,Just when George Banks has recovered from his ...,Comedy,Just When His World Is Back To Normal... He's ...,5.7,8.387519,Just when George Banks has recovered from his ...

# Natural Language Processing

In [33]:
df['tags'][1] # Need to remove these symbols and remove stop words

"When siblings Judy and Peter discover an enchanted board game that opens the door to a magical world, they unwittingly invite Alan -- an adult who's been trapped inside the game for 26 years -- into their living room. Alan's only hope for freedom is to finish the game, which proves risky as all three find themselves running from giant rhinoceroses, evil monkeys and other terrifying creatures. Adventure Fantasy Family Roll the dice and unleash the excitement!"

In [35]:
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
import re

In [36]:
nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...

True

A lemmatizer is a tool in Natural Language Processing (NLP) that reduces words to their base or dictionary form, called a lemma.
For example:

"running" → "run"

"better" → "good"

"mice" → "mouse"

In [37]:
stop_words = set(stopwords.words('english'))
lemmatizer = WordNetLemmatizer()

In [39]:
def preprocess_text(text):
  text = str(text).lower()
  text = re.sub(r'[^a-zA-Z]', ' ', text)
  words = text.split()
  words = [word for word in words if word not in stop_words]
  words = [lemmatizer.lemmatize(word) for word in words]
  return ' '.join(words)

In [40]:
df['tags'] = df['tags'].apply(preprocess_text)

In [41]:
df['tags'][1]

'sibling judy peter discover enchanted board game open door magical world unwittingly invite alan adult trapped inside game year living room alan hope freedom finish game prof risky three find running giant rhinoceros evil monkey terrifying creature adventure fantasy family roll dice unleash excitement'

## Embeddings or Vectorization

In [42]:
df = df.reset_index(drop = True)

In [44]:
indices = pd.Series(df.index, index = df['title']).drop_duplicates()
indices

title
Toy Story                          0
Jumanji                            1
Grumpier Old Men                   2
Waiting to Exhale                  3
Father of the Bride Part II        4
                               ...
Subdue                         45442
Century of Birthing            45443
Betrayal                       45444
Satan Triumphant               45445
Queerama                       45446
Length: 45447, dtype: int64

## TF-IDF

TF-IDF stands for Term Frequency – Inverse Document Frequency.
It’s a statistical measure used in Natural Language Processing (NLP) to evaluate how important a word is to a document in a collection of documents (called a corpus).

The main idea:

- Words that appear frequently in a document should have higher weight.
- But common words (like “the”, “is”, “and”) that appear in many documents should be penalized (given less weight).
## Calculation

It has two parts:

1. Term Frequency (TF)
Measures how often a word appears in a single document.

$\text{TF}(t, d) = \frac{\text{Number of times term } t \text{ appears in document } d}{\text{Total number of words in document } d}$

Example: If “AI” appears 3 times in a 100-word document → TF = 3/100 = 0.03

2. Inverse Document Frequency (IDF)
Measures how rare a word is across all documents in the corpus.

$\text{IDF}(t, D) = \log \left( \frac{\text{Total number of documents in corpus } D}{\text{Number of documents containing term } t} \right)$

Example: If “AI” appears in 10 out of 1000 documents →
IDF = log(1000 / 10) = log(100) ≈ 2

### TF-IDF Score

$\text{TF-IDF}(t, d, D) = \text{TF}(t, d) \times \text{IDF}(t, D)$

High TF-IDF = word is common in this document but rare in others → likely important!

In [45]:
from sklearn.feature_extraction.text import TfidfVectorizer

### N-Grams

n-grams are contiguous sequences of n items (usually words or characters) from a given text or speech sample. They are widely used in Natural Language Processing (NLP) for tasks like language modeling, text generation, machine translation, and more.

- Unigrams (n=1): Single words.

  Example: "I love NLP" → ["I", "love", "NLP"]

- Bigrams (n=2): Pairs of adjacent words.
  
  Example: "I love NLP" → ["I love", "love NLP"]

- Trigrams (n=3): Triplets of adjacent words.

  Example: "I love NLP" → ["I love NLP"]

In [46]:
tfidf = TfidfVectorizer(max_features=50000, stop_words = 'english', ngram_range = (1, 2))

In [47]:
tfidf_matrix = tfidf.fit_transform(df['tags'])

In [48]:
tfidf_matrix

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 1585870 stored elements and shape (45447, 50000)>

## Cosine Similarity

Cosine similarity is a measure of how similar two non-zero vectors are, regardless of their magnitude. In NLP, it’s commonly used to compare text documents or word embeddings by measuring the cosine of the angle between their vector representations.

The result ranges from -1 to 1:

- 1 → vectors point in the exact same direction (identical in orientation).
- 0 → vectors are orthogonal (no similarity).
- -1 → vectors point in opposite directions.

$\text{Cosine Similarity} = \frac{A \cdot B}{\|A\| \|B\|} = \frac{\sum_{i=1}^{n} A_i B_i}{\sqrt{\sum_{i=1}^{n} A_i^2} \sqrt{\sum_{i=1}^{n} B_i^2}}$

For detail understanding of Cosine Similarity, Checkout [this](http://medium.com/data-science-collective/cosine-similarity-explained-the-math-behind-llms-b20caac9f93c).

In [49]:
from sklearn.metrics.pairwise import cosine_similarity

In [51]:
def recommend(title, n=10):
    # Check if the requested movie title exists in our index mapping
    if title not in indices:
        return ['Movie not found']

    # Get the row index (integer position) of the movie in the DataFrame
    idx = indices[title]

    # Compute cosine similarity between the target movie's TF-IDF vector
    # and all other movies' TF-IDF vectors.
    # Result: a 2D array with shape (1, num_movies)
    sim_score = cosine_similarity(tfidf_matrix[idx], tfidf_matrix).flatten()
    # .flatten() converts it to a 1D array for easier handling

    # Get indices of movies sorted by similarity (highest to lowest):
    # - argsort() returns indices that would sort the array in ascending order
    # - [::-1] reverses to get descending order (most similar first)
    # - [1:n+1] skips the first result (which is the movie itself) and takes next `n` movies
    similar_idx = sim_score.argsort()[::-1][1:n+1]

    # Use iloc to fetch the titles of the top-n most similar movies
    return df['title'].iloc[similar_idx].tolist()  # Optional: .tolist() for clean list output

In [53]:
recommend('Avatar')

['Avatar 2',
 'Thor: Ragnarok',
 'Moontrap: Target Earth',
 'The Inhabited Island',
 'Lara Croft Tomb Raider: The Cradle of Life',
 'A Trip to the Moon',
 'The Three Musketeers',
 'Nightmare City 2035',
 'Désiré',
 'France société anonyme']

In [55]:
import pickle

# Save the TF-IDF matrix
with open('tfidf_matrix.pkl', 'wb') as f:
    pickle.dump(tfidf_matrix, f)

# Save the indices mapping (e.g., title -> index)
with open('indices.pkl', 'wb') as f:
    pickle.dump(indices, f)

# Save the DataFrame (pandas has its own .to_pickle method)
df.to_pickle('df.pkl')

# Save the TfidfVectorizer object (so you can reuse it later)
with open('tfidf.pkl', 'wb') as f:
    pickle.dump(tfidf, f)